

.CformControl{
    width:60%;
}

.TableContent{
    overflow-x:scroll;
}

.FormFieldSet{
    margin:5px 100px;
}

.TitleHeader{
    margin:0;
    padding:5px 10px;
    color:white;
    font-size:1.4em;
    display:block;
    border-bottom:solid 0.5px #cedbfa;
    background-color:rgba(153, 150, 149, 0.65);
}

.MyWell{
    padding: 0 0 10px 0;
    min-height:150px;
}

.MyContent{
    padding:5px 10px;
}


.CheckContent{
    padding-left:25px;
}

.CkLabel{
    margin-left:25px;
}

.spValidation{
    display:none;
}


.MyTable{
    width:auto;
}


.BaseHeader{
    padding:15px;
    margin:15px;
}


.BaseBody{
    padding:15px;
    margin:15px;
}