@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="well" style="text-align:center">
    <h1 class="text-danger">Ha ocurrido un error...</h1>
    <h2 class="text-danger">Contacte con el administrador.</h2>
</div>


