@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_LayoutNoCompany.cshtml";
    ViewBag.Title = "Error";
}

<div class="well" style="text-align:center">
    <h1 class="text-danger">Debe crear una empresa</h1>
    @*<h2 class="text-danger">Contacte con el administrador.</h2>*@
</div>
